<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${namespace}.dao.${classCapName}Mapper">

    <resultMap type="${namespace}.entity.${classCapName}" id="${classCapName}Result">
        #foreach ($column in $columns)
            <result property="${column.attrLowName}" column="${column.columnName}"/>
        #end
    </resultMap>

    <sql id="query${classCapName}Vo">
        select#foreach($column in $columns) $column.columnName#if($velocityCount != $columns.size()),#end#end from ${tableName}
    </sql>

    <!-- 条件查询列表 -->
    <select id="query${classCapName}List" parameterType="${namespace}.entity.${classCapName}"
            resultMap="${classCapName}Result">
        <include refid="query${classCapName}Vo"/>
        <where>
            #foreach($column in $columns)
                <if test="$column.attrLowName != null#if($column.attrType ==
                    'String' ) and $column.attrLowName.trim() != ''#end">and $column.columnName = #{$column.attrLowName}
                </if>
            #end
        </where>
    </select>

    <!-- 根据id查询列表 -->
    <select id="query${classCapName}ById" parameterType="${primaryKey.attrType}" resultMap="${classCapName}Result">
        <include refid="query${classCapName}Vo"/>
        where ${primaryKey.columnName} = #{${primaryKey.attrLowName}}
    </select>

    <!-- 新增列表 -->
    <insert id="add${classCapName}" parameterType="${namespace}.entity.${classCapName}"#if($primaryKey.extra ==
        'auto_increment') useGeneratedKeys="true" keyProperty="$primaryKey.attrLowName"#end>
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $primaryKey.columnName || $primaryKey.extra != 'auto_increment')
                    <if test="$column.attrLowName != null#if($column.attrType ==
                        'String' ) and $column.attrLowName.trim() != ''#end">$column.columnName,
                    </if>
                #end
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $primaryKey.columnName || $primaryKey.extra != 'auto_increment')
                    <if test="$column.attrLowName != null#if($column.attrType ==
                        'String' ) and $column.attrLowName.trim() != ''#end">#{$column.attrLowName},
                    </if>
                #end
            #end
        </trim>
    </insert>

    <!-- 更新列表 -->
    <update id="update${classCapName}" parameterType="${namespace}.entity.${classCapName}">
        update ${tableName}
        <trim prefix="SET" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $primaryKey.columnName)
                    <if test="$column.attrLowName != null#if($column.attrType ==
                        'String' ) and $column.attrLowName.trim() != ''#end">$column.columnName = #{$column.attrLowName
                        },
                    </if>
                #end
            #end
        </trim>
        where ${primaryKey.columnName} = #{${primaryKey.attrLowName}}
    </update>

    <!-- 根据id删除 -->
    <delete id="delete${classCapName}ById" parameterType="${primaryKey.attrType}">
        delete from ${tableName} where ${primaryKey.columnName} = #{${primaryKey.attrLowName}}
    </delete>

    <!-- 批量删除 -->
    <delete id="delete${classCapName}ByIds" parameterType="String">
        delete from ${tableName} where ${primaryKey.columnName} in
        <foreach item="${primaryKey.attrLowName}" collection="array" open="(" separator="," close=")">
            #{${primaryKey.attrLowName}}
        </foreach>
    </delete>

</mapper>